<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        #menu-toggle:checked+#menu {
            display: block;
        }

        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }

        .hover\:grow:hover {
            transform: scale(1.02);
        }

        .carousel-open:checked+.carousel-item {
            position: static;
            opacity: 100;
        }

        .carousel-item {
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
        }

        #carousel-1:checked~.control-1,
        #carousel-2:checked~.control-2,
        #carousel-3:checked~.control-3 {
            display: block;
        }

        .carousel-indicators {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 2%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 10;
        }

        #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
            color: #000;
            /*Set to match the Tailwind colour you want the active one to be */
        }
    </style>

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>

<body class="bg-white font-family-karla">

    <!-- Top Bar Nav -->
    <%- include('_navbar') %>

        <!-- Text Header -->
        <header class="w-full container mx-auto">
            <div class="flex flex-col items-center py-12">
                <a class="font-bold text-gray-500 uppercase hover:text-gray-500 text-5xl" href="#">
                    Products
                </a>
                <p class="text-lg text-gray-500">
                    belanja puas harga gk murah-murah amat
                </p>
            </div>
        </header>

        <!-- search Section -->
        <nav class="flex justify-center mx-20  " x-data="{ open: false }">
            <p class="px-12 py-3">
                <form action="/product" method="get" class="flex">
                    <div
                    class="shadow appearance-none border  border-green-400  rounded-3xl w-full px-20 py-0.5 text-gray-700 mb-3 ">
                    <input type="search" name="look" placeholder="Search By Title">
                </div>
                <div>
                    <input type="submit" value="Search" class="px-5 rounded-full ml-5  py-1">
                </div>
            </form>
            </p>
        </nav>


        <!-- category  -->
        <nav class="w-full py-4 border-t border-b bg-gray-100" x-data="{ open: false }">
            <div class="block sm:hidden">
                <a href="#"
                    class=" md:hidden text-base font-bold uppercase text-center flex justify-center items-center"
                    @click="open = !open">
                    Topics <i :class="open ? 'fa-chevron-down': 'fa-chevron-up'" class="fas ml-2"></i>
                </a>
            </div>
            <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
                <div
                    class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2">
                    <a href="/product/" class="hover:bg-gray-400 rounded py-2 px-4 mx-2">
                        all
                    </a>
                    <% allData.category.forEach(x=> { %>
                        <a href="/product?search=<%= x.id%>" class="hover:bg-gray-400 rounded py-2 px-4 mx-2">
                            <%=x.name%>
                        </a>
                        <% }) %>

                </div>
            </div>
        </nav>

        <div class="container mx-auto flex flex-wrap py-6">

            
            <!-- Post Section -->
            <section class="w-full md:w-2/3 flex flex-col items-center px-3">

                <article class="flex flex-col shadow my-4 border  border-green-400">
                    <section class="bg-white py-8 ">

                        <div class="container mx-auto flex items-center flex-wrap pt-4 pb-2  ">
                            <!-- product card -->
                            <% allData.product.forEach(x=> { %>
                                <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col ">

                                    <a href="#">
                                        <img class=" shadow-lg hover:grow hover:shadow-2xl" src="<%=x.imageURL%>"
                                            width="150" height="150">
                                        <div class="pt-3 flex items-center justify-between">
                                            <p class="">
                                                <%=x.name %>
                                            </p>
                                        </div>

                                        <p class="pt-1 text-gray-500 font-thin text-lg pb-2 hover:text-gray-900">
                                            <%= rupiah( x.price) %>
                                        </p>
                                        <% if (x.stockBarang> 0 ) { %>

                                            <div class=" text-green-600 font-bold hover:grow">
                                                <%= x.statusStock() %>
                                                    <a class="pl-3 inline-block no-underline hover:text-black "
                                                        href="/product/buy/<%=x.id%>">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                            <path
                                                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                        </svg>
                                                    </a>
                                            </div>

                                            <% }else { %>
                                                <div class=" text-red-600 font-bold hover:grow">
                                                    <%= x.statusStock() %>
                                                        <a class="pl-3 inline-block no-underline hover:text-black"
                                                            href="/product/buy/<%=x.id%>">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-cart"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                            </svg>
                                                        </a>
                                                </div>

                                                <%} %>


                                                    <p class=" text-gray-900">
                                                        <%= x.stockBarang %> pcs
                                                    </p>
                                    </a>
                                </div>
                                <% }) %>
                        </div>
                    </section>






            </section>

            <!-- Sidebar Section -->
            <aside class="w-full md:w-1/3 flex flex-col items-center px-3 ">
                <div class="w-full bg-white shadow flex flex-col my-4 p-6 border  border-green-400">
                    <p class="text-xl font-semibold pb-5">lihat juga</p>
                    <div class="grid grid-cols-3 gap-3 ">
                        <a href="">
                            <img class="hover:grow hover:shadow-lg bg-cover"
                                src="https://images.unsplash.com/photo-1508423134147-addf71308178?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                                alt="">
                        </a>
                        <img class="hover:grow hover:shadow-lg bg-cover"
                            src="https://images.unsplash.com/photo-1550837368-6594235de85c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                            alt="">
                        </a>
                        <img class="hover:grow hover:shadow-lg bg-cover"
                            src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                            alt="">
                        </a>

                    </div>

                </div>
                <div class="w-full bg-white shadow flex flex-col my-4 p-6 border  border-green-400">
                    <p class="text-xl font-semibold pb-5">hot products</p>
                    <div class="grid grid-cols-3 gap-3">
                        <a href="">
                            <img class="hover:grow hover:shadow-lg bg-cover"
                                src="https://images.unsplash.com/photo-1508423134147-addf71308178?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                                alt="">
                        </a>
                        <img class="hover:grow hover:shadow-lg bg-cover"
                            src="https://images.unsplash.com/photo-1550837368-6594235de85c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                            alt="">
                        </a>
                        <img class="hover:grow hover:shadow-lg bg-cover"
                            src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80"
                            alt="">
                        </a>

                    </div>

                </div>


            </aside>
        </div>

        <footer class="w-full border-t bg-green-500 text-white">
            <div class="w-full container mx-auto flex flex-col items-center">
                <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
                    <a href="#" class="uppercase px-3">About Us</a>
                    <a href="#" class="uppercase px-3">Privacy Policy</a>
                    <a href="#" class="uppercase px-3">Terms & Conditions</a>
                    <a href="#" class="uppercase px-3">Contact Us</a>
                </div>
                <div class="uppercase pb-6 ">TokekPedia.com</div>
            </div>
        </footer>

</body>

</html>